# ignore everything in WP...
wordpress/*
.vite
package-lock.json
.env

# ignore all /dist
*/dist/
**/plugin-custom-skianet/assets/data/
woocommerce-google-analytics-pro/
woo-satispay/
woocommerce-gateway-stripe/
mollie-payments-for-woocommerce/

# ignore node dependency directories
*/node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore some editor settings
.vscode/*
ftp-kr.json

# ignore 💩 files
.DS_store
.htaccess
license.txt
readme.html
